
* {
	box-sizing: border-box;
}
body {
	font-family: Arial,Verdana,sans-serif;
}
.navbar-light .navbar-brand {
	font-weight: bold;
	font-size: 225%;
	color: #0000ff;
}
#nav-list li {
	font-weight: bold;
	color: #68514C;
	text-align: center;
	background-color: #F9E79F;
}
#nav-list li:hover {
	color: #000000;
	background-color: #EEE8E8;
	cursor: pointer;
}
#title {
	color: #00ff00;
	font-weight: bold;
	margin-top: 2%;
	font-size: 215%;
}
h3 {
	font-size: 175%;
	font-weight: bold;
}
section {
	padding: 1%;
	margin-top: 5%;
}
section p {
	text-align: justify;
	line-height: 180%;
}
section a {
	display: block;
}